<p
  *ngIf="operationType === 'preview'"
  class="relative p-4 pl-8 mb-8 text-blue-800 border-l-8 border-blue-600  bg-gradient-to-br from-blue-100 to-blue-200"
>
  Se encuentra en modo <strong class="font-semibold">vista previa</strong>.
  <br />
  No podrá editar los datos mientras este modo esté activado.
</p>

<form (submit)="onSubmit($event)" class="px-6 bg-white rounded-lg">
  <dx-form
    #form
    [(formData)]="employeeData"
    [colCount]="2"
    [showValidationSummary]="true"
    [readOnly]="operationType === 'preview'"
    (onContentReady)="onContentReady($event)"
    (onFieldDataChanged)="onFieldDataChanged($event)"
  >
    <dxi-item itemType="group">
      <dxi-item dataField="name" *ngIf="operationType === 'new'">
        <dxo-label text="Nombre"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="El nombre es obligatorio"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="pattern"
          pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$"
          message="No se permiten números y/o caracteres especiales."
        >
        </dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item
        dataField="dateOfBirth"
        editorType="dxDateBox"
        [editorOptions]="{
          pickerType: 'rollers'
        }"
      >
        <dxo-label text="Fecha de nacimiento"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="La fecha de nacimiento es obligatoria"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="custom"
          [validationCallback]="validateAge"
          message="El empleado debe ser mayor de edad"
        >
        </dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item
        dataField="country"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: countries,
          valueExpr: 'name',
          displayExpr: 'name',
          searchEnabled: true,
          onValueChanged: onCountryChanged
        }"
      >
        <dxo-label text="País"></dxo-label>
        <dxi-validation-rule type="required" message="El país es obligatorio">
        </dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item dataField="username">
        <dxo-label text="Nombre de usuario"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="El nombre de usuario es obligatorio"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="pattern"
          pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ0-9\s]+$"
          message="No se permiten números y/o caracteres especiales."
        >
        </dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item
        dataField="hiringDate"
        editorType="dxDateBox"
        [editorOptions]="{
          pickerType: 'rollers'
        }"
      >
        <dxo-label text="Fecha de contratación"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="La fecha de contratación es obligatoria"
        ></dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item dataField="status" editorType="dxSwitch">
        <dxo-label text="Estado"></dxo-label>
      </dxi-item>
      <!-- /item -->
    </dxi-item>
    <!-- /left column -->

    <dxi-item itemType="group">
      <dxi-item
        cssClass="h-24 mb-1 pt-6"
        dataField="areaId"
        editorType="dxRadioGroup"
        [editorOptions]="{
          items: areas,
          valueExpr: 'id',
          displayExpr: 'name',
          layout: 'horizontal',
          onValueChanged: onAreaChanged
        }"
      >
        <dxo-label text="Área"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="El área es obligatoria"
        ></dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item
        dataField="positionId"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: positions,
          valueExpr: 'id',
          displayExpr: 'name',
          searchEnabled: true,
          onValueChanged: onPositionChanged
        }"
      >
        <dxo-label text="Cargo"></dxo-label>
        <dxi-validation-rule
          type="required"
          message="El cargo es obligatorio"
        ></dxi-validation-rule>
      </dxi-item>
      <!-- /item -->

      <dxi-item
        *ngIf="comissionVisible"
        dataField="commission"
        editorType="dxNumberBox"
        [editorOptions]="{
          min: 0,
          max: 100
        }"
      >
        <dxo-label
          text="Comisión"
          message="La comisión es obligatoria"
        ></dxo-label>
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>
      <!-- /item -->
    </dxi-item>
    <!-- /right column -->

    <!-- /buttons -->
  </dx-form>

  <dx-toolbar class="mt-12">
    <dxi-item
      location="before"
      widget="dxButton"
      locateInMenu="auto"
      [options]="{
        hint: 'Regresar a la lista de empleados',
        type: 'back',
        onClick: onClickGoBack
      }"
    >
    </dxi-item>
    <dxi-item
      location="before"
      widget="dxButton"
      locateInMenu="auto"
      [options]="{
        type: 'success',
        text: 'Guardar',
        icon: 'save',
        stylingMode: 'contained',
        useSubmitBehavior: true
      }"
    >
    </dxi-item>
  </dx-toolbar>
</form>
