<dx-data-grid
  [dataSource]="employees"
  keyExpr="id"
  (onToolbarPreparing)="onToolbarPreparing($event)"
  (onRowRemoved)="onRowRemoved($event)"
>
  <dxo-editing [allowDeleting]="true"></dxo-editing>
  <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
  <dxo-filter-row [visible]="true"> </dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-paging [pageSize]="5"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 25, 50]"
  ></dxo-pager>
  <!-- /options -->

  <dxi-column
    dataField="avatar"
    [width]="90"
    [allowFiltering]="false"
    [allowSorting]="false"
    cellTemplate="avatarTemplate"
  ></dxi-column>
  <dxi-column
    dataField="name"
    [calculateCellValue]="calculateEmployeeName"
    caption="Nombre (cargo)"
  ></dxi-column>
  <dxi-column
    dataField="dateOfBirth"
    [calculateCellValue]="calculateEmployeeAge"
    caption="Edad"
  ></dxi-column>
  <dxi-column
    dataField="hiringDate"
    caption="Fecha contratación"
    dataType="date"
    format="longDate"
  ></dxi-column>
  <dxi-column
    dataField="status"
    caption="Estado"
    cellTemplate="statusTemplate"
  ></dxi-column>
  <dxi-column type="buttons">
    <dxi-button icon="edit" [onClick]="onClickEdit"></dxi-button>
    <dxi-button icon="user" [onClick]="onClickPreview"></dxi-button>
    <dxi-button icon="trash" name="delete"></dxi-button>
  </dxi-column>
  <!-- /columns -->

  <div *dxTemplate="let data of 'avatarTemplate'">
    <div class="object-cover overflow-hidden rounded-full">
      <img [src]="data.data.avatarUrl" />
    </div>
  </div>

  <div *dxTemplate="let data of 'statusTemplate'">
    <app-employee-status
      *ngIf="data.data.status; else inactive"
      type="success"
      text="Activo"
    ></app-employee-status>

    <ng-template #inactive>
      <app-employee-status type="danger" text="Inactivo"></app-employee-status>
    </ng-template>
  </div>
  <!-- /cell templates -->
</dx-data-grid>
