<app-page-header-wrapper>
  <h1 class="mb-6 text-3xl text-white md:text-6xl">Empleados</h1>
  <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>
</app-page-header-wrapper>

<app-page-content-wrapper id="content">
  <app-stats *ngIf="stats.length" [data]="stats"></app-stats>
  <!-- /stats -->

  <app-employees-list
    *ngIf="employees?.length; else employeesNotFound"
    [employees]="employees"
    (clickNew)="onClickNew()"
    (clickEdit)="onClickEdit($event)"
    (clickPreview)="onClickPreview($event)"
    (delete)="onDeleteEmployee($event)"
  ></app-employees-list>
  <!-- /list of employees  -->

  <ng-template #employeesNotFound>
    <app-employees-not-found
      *ngIf="!loading"
      (createEmployee)="onCreateEmployee()"
    ></app-employees-not-found>
  </ng-template>
  <!-- /employees not found -->
</app-page-content-wrapper>

<dx-load-panel
  shadingColor="rgba(0,0,0,0.05)"
  [position]="{ of: '#content', at: 'center' }"
  [visible]="loading"
>
</dx-load-panel>
